## __Assignment__ 03

### Spliting location into two parts

In [2]:
# Import libraries
import pandas as pd
import numpy as np

# Making a Dataframe
df = pd.DataFrame({'Name': ['Naveed Khurshid', 'Ahsan Kamal','Muhammad Wasif','Muhammad Fareed'],
                   'Location': ['Lahore, Punjab','Hyderabad, Sindh','Karachi, Sindh','Peshawar, KPK'],})
df

              Name          Location
0  Naveed Khurshid    Lahore, Punjab
1      Ahsan Kamal  Hyderabad, Sindh
2   Muhammad Wasif    Karachi, Sindh
3  Muhammad Fareed     Peshawar, KPK

In [5]:
# Spliting location into City and State
df.Location.str.split(' ')

0      [Lahore,, Punjab]
1    [Hyderabad,, Sindh]
2      [Karachi,, Sindh]
3       [Peshawar,, KPK]
Name: Location, dtype: object

In [6]:
# Spliting Location column into City and State columns
df['City'] = df.Location.str.split(',', expand=True)[0] # City
df['State'] = df.Location.str.split(',', expand=True)[1] # State
df # Checking the Dataframe

              Name          Location       City    State
0  Naveed Khurshid    Lahore, Punjab     Lahore   Punjab
1      Ahsan Kamal  Hyderabad, Sindh  Hyderabad    Sindh
2   Muhammad Wasif    Karachi, Sindh    Karachi    Sindh
3  Muhammad Fareed     Peshawar, KPK   Peshawar      KPK

In [8]:
# droping location column
df.drop('Location', axis=1,inplace=True)
df

              Name       City    State
0  Naveed Khurshid     Lahore   Punjab
1      Ahsan Kamal  Hyderabad    Sindh
2   Muhammad Wasif    Karachi    Sindh
3  Muhammad Fareed   Peshawar      KPK