# Assignment 01
### __Coerce__

#### There are three different errors occurs when changing numeric data type through pandas which is;
1_ __Raise__: Setting _errors='raise'_ is the default and will generate an error on something like [1,2,'apple'].

2_ __Ignore__: Setting _errors='ignore'_ means the problem values will not convert at all.

#### 3_ __Coerce__: Setting _errors='coerce'_ will force the column to float and problem values to NaN.